main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.album-info img {
  border-radius: 10px;
  margin: 0;
  width: 250px;
}

.album-info h3 {
  font-size: 1.3em;
  margin: 10px 0;
}

.musics-container {
  width: 40%;
}

.music-list-div {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 80%;
}

.music {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 25px;
  width: 100%;
}

.music p {
  width: 300px;
}

.music audio {
  flex-grow: 1;
  width: 200px;
}

@media screen and ( max-width : 768px ) {

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .album-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  .music {
    flex-direction: column;
    justify-content: space-around;
  }

  .musics-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .music p {
    margin-bottom: 1em;
    width: fit-content;
  }

  .music audio {
    margin-bottom: 1em;
    width: 80%;
  }

  .music input {
    margin-right: 0.5em;
  }

}

@media screen and ( min-width : 769px ) {

  .album-info {
    margin-right: 100px;
  }
}
