.login-page {
  align-items: center;
  background-color: #f0efeb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.title-image-login-container {
  align-items: center;
  display: flex;
}

.titles {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  margin: 20px;
}

.title-1 {
  font-weight: 800;
  margin-right: 10px;
}

.title-2 {
  color: #3d405b;
  margin-left: 40px;
}

.titleImageLogin {
  width: 50px;
}

.form-login {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 4px black;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  width: 38vw;
}

.input-login {
  font-size: 1em;
  margin-bottom: 25px;
  padding: 0.8em 0;
  width: 70%;
}

.button-login {
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em 0;
  width: 70%;
}

.loading-login-page {
  font-size: 1.5em;
  text-align: center;
}
