.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1em;
  margin-top: 5px;
  padding: 8px 10px;
}

.image-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

button {
  align-self: center;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 8px 20px;
}

@media screen and ( max-width : 768px ) {

  .form {
    width: 80%;
  }

  .image-input input {
    width: 30%;
  }
}
